*.o
*.cmd
*.ko
*.mod
*.mod.c
*.symvers
/XDMA/linux-kernel/xdma/modules.order
*.order
/QDMA/linux-kernel/bin/
/XDMA/linux-kernel/tools/reg_rw
/QDMA/linux-kernel/apps/dma-to-device/dma-to-device
/QDMA/linux-kernel/driver/src/libqdma
/XDMA/linux-kernel/tools/dma_from_device
/XDMA/linux-kernel/tools/dma_to_device
/XDMA/linux-kernel/tools/performance
/QDMA/linux-kernel/apps/dma-ctl/dma-ctl
/QDMA/linux-kernel/apps/dma-from-device/dma-from-device
/QDMA/linux-kernel/apps/dma-latency/dma-latency
/QDMA/linux-kernel/apps/dma-perf/dma-perf
/QDMA/linux-kernel/apps/dma-xfer/dma-xfer
